.calendar-timeline {
  .days-of-week {
    th {
      .wkday {
        text-align: center;
        width: 30px;
        display: block;
        height: 30px;
        padding-top: 3px;

        &.day-today {
          border: 1px solid #459FF3;
          border-radius: 999px;
        }
      }
    }
  }

  .days-container {
    td {
      width: 32px;
      height: 32px;
      text-align: center;
    }
  }
}