.calendar-timeline {
  ul {
    padding: 0;

    li {
      text-align: center;
      list-style-type: none;
      display: inline-block;
      padding: 5px;
      margin: 5px;

      b {
        padding: 5px;
        border: 1px solid #459FF3;
        border-radius: 999px;
      }

      span {
        width: 30px;
        height: 30px;
        margin: auto;
        display: block;
        text-align: center;
      }
    }
  }
}