div.person_container a.person, div.person_container span.description {
  position: relative;
  left: 40px;
  overflow: hidden;
  max-width: 140px;
  font-size: 14px;
  text-overflow: ellipsis;
}

.calendar-timeline {
  .days-of-week {
    th {
      .wkday {
        text-align: center;
        width: 30px;
        display: block;
        height: 30px;
        padding-top: 3px;

        &.day-today {
          border: 1px solid #459FF3;
          border-radius: 999px;
        }
      }
    }
  }

  .days-container {

    td {
      width: 32px;
      height: 32px;
      text-align: center;

      .first, .second {
        display: inline-block;
        vertical-align: top;
        height: 30px;
        width: 15px !important;
        min-width: 15px !important;
        max-width: 15px !important;

        &:hover {
          background: rgba(150, 150, 150, .1);
        }

        &.nwd {
          background: #E4E3E4;
        }

        span {
          position: relative;
          z-index: 998;
          background: 0 0;
          display: block;
          height: 15px;
          max-height: 15px;
          margin: 0;
          left: 7px;
          top: 3px;
        }
      }
    }
  }


  .users-container {
    tr {
      padding-bottom: 15px;

      .person {
        height: 65px;
        font-weight: 400;
        left: 35px;

        .img-circle {
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 999px;
          margin-right: 10px;
          float: left;
          background-size: 100%;
          color: #eee;
          background-color: #c6c6c6;
          font-size: 22px;
          display: table;
          text-align: center;
          line-height: 50px;
          font-weight: 400;
        }

        .person_container {
          text-align: left;
          width: 240px;
          position: relative;
          left: -50px;
          padding-left: 50px;

          a.person {
            color: #862C50;
            text-decoration: none;
            top: 0;
            left: 0;
            max-height: 40px;
            white-space: nowrap;
            display: inline-block;
            float: left;
          }
        }
      }
    }
  }
}